*{
    padding: 0;
    margin: 0;
}
body{
    background: #2D2D2D;
    height: 1000px;
}
.header{
    position: relative;
    top: 8px;
    left: 33px;
    width: 643px;
    height: 118px;
}
.topmotto{
    position: relative;
    font-size: 30px;
    top: -95px;
    left: 160px;
}
.toplogo{
    position: relative;
}
#searchbar{
    position: relative;
    width: 180px;
    height: 35px;
    left: 1220px;
    bottom: 167px;
}
::placeholder{
    position: relative;
}
.mg{
    position: relative;
    width: 30px;
    height: 30px;
    filter: invert(16%) sepia(99%) saturate(7404%) hue-rotate(4deg) brightness(95%) contrast(118%);
    left: 1180px;
    bottom: 132px;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: #888;
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
::placeholder{
    font-size: 13pt;
}
input{
    font-size: 13pt;
}
#navbar{
    position: absolute;
    top: 137px;
    height: 85px;
    width: 100%;
    background: #FF0000;
    z-index: 10;
}
.categories{
    position: relative;
    width: 75vw;
    top: 16px;
    left: 45px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 22pt;
    color: white;
    display: flex;
    justify-content: space-between;
}
.account{
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    position: relative;
    width: 140px;
    top: -19px;
    left: 83vw;
    display: flex;
    justify-content: space-between;
}
h1{
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 28pt;  
}
.mainarticle{
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18pt;
}
.article1{
    position: relative;
    left: 100px;
    width: 640px;
    top: 180px;
}
.articletxt1{
    position: relative;
    top: 5px;
    left: 10px;
    width: 700px;
}
.articleimg1{
    position: relative;
    border: 4px solid red;
    width: 633px;
    height: 355.2px;
}
p{
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16pt;
    position: relative;
    top: 5px;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
.footer{
    background: black;
    height: 54vh;
    position: relative;
    top: 500px;
}
.line{
    position: absolute;
    background: #FF0000;
    width: 88vw;
    height: 4px;
    left: 6vw;
    bottom: 140px;
}
.bottomlogo{
    position: relative;
}
.bottommotto{
    position: relative;
    font-size: 24px;
    top: -76px;
    left: 128px;
}
.brand{
    width: 400px;
    height: 50px;
    position: relative;
    left: 110px;
    top: 100px;
}
.info{
    position: relative;
    font-family: 'Titillium Web', sans-serif;
    font-size: 34pt;
    justify-content: space-evenly;
    display: flex;
    width: 650px;
    top: 40px;
    left: 80px;
}
.ios{
    position: relative;
    border: 3px solid white;
    width: 285px;
    height: 70px;
    left: 800px;
    bottom: 210px;
}
.iosdownload{
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 18pt;
    position: relative;
    left: 115px;
    top: 15px;
    width: 200px;
}
.download1{
    position: relative;
    left: 15px;
    bottom: 32px;
}
.android{
    position: relative;
    border: 3px solid white;
    width: 285px;
    height: 70px;
    left: 800px;
    bottom: 170px;
}
.androiddownload{
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 16pt;
    position: relative;
    left: 108px;
    top: 17px;
    width: 200px;
}
.download2{
    position: relative;
    left: 10px;
    bottom: 27px;
}
.download{
    position: relative;
    bottom: 0px;
    left: -40px;
    height: 100px;
    width: 100px;
}
.socialmedia{
    position: relative;
    bottom: 160px;
    left: 1080px;
    width: 370px;
    height: 100px;
    justify-content: space-evenly;
    display: flex;
}
.youtube{
    position: relative;
    bottom: 6px;
}
