@font-face {
    font-family: 'Titillium Web', sans-serif;
    src: url("fonts/TitilliumWeb-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: rgba(135, 135, 135, 0.5);
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #FF0000;
}

::placeholder {
    font-size: 13pt;
    position: relative;
    left: 10px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

body {
    position: relative;
    background: #2D2D2D;
    height: 2570px;
    overflow-x: hidden;
    width: 100vw;
}

#topbox {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #212121;
}

#topbrand {
    position: absolute;
    width: 580px;
    height: 80px;
    top: 35px;
    left: 33px;
    font-family: 'Monoton', cursive; 
    color: #FF0000;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
}

#toplogo {
    position: relative;
    width: 135px; 
    height: 125px;
}

#topmotto {
    position: relative;
    font-size: 23pt;
    left: 20px;
}

#search {
    position: absolute;
    display: flex;
    justify-content: end;
    top: 55px;
    right: 8vw;
}

#mg {
    position: relative;
    width: 30px;
    height: 30px;
    filter: invert(16%) sepia(99%) saturate(7404%) hue-rotate(4deg) brightness(95%) contrast(118%);
    left: -10px;
    top: 3.5px;
    transition-property: left,;
    transition-duration: 0.2s;
}

#searchbar {
    padding: 0 10px 0 10px;
    position: relative;
    width: 140px;
    left: 0;
    height: 35px;
    border-radius: 10px;
    border-width: 0px;
    transition-property: width, left;
    transition-duration: 0.2s;
}

#searchbar::placeholder {
    left: 0;
}

#search2 {
    position: absolute;
    display: none;
    justify-content: end;
    top: 27px;
    left: 14vw;
    z-index: 1;
}

#mg2 {
    position: relative;
    width: 30px;
    height: 25px;
    left: -10px;
    top: 3.5px;
    transition-property: left,;
    transition-duration: 0.2s;
}

#searchbar2 {
    position: relative;
    width: calc(25vw - 20px);
    padding: 0 10px 0 10px;
    left: 0px;
    height: 35px;
    border-radius: 10px;
    border-width: 0px;
    transition-property: width, left;
    transition-duration: 0.2s;
}

#searchbar2::placeholder {
    left: 0;
}

input {
    font-size: 15pt;
}

#navbar {
    position: absolute;
    top: 150px;
    height: 90px;
    width: calc(100% - 14.5px);
    background: #FF0000;
    z-index: 10;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 8px 15px rgb(10, 10, 10);
    transition-property: border-bottom-right-radius;
    transition-duration: 0.2s;
}

#dropDownMenu {
    position: absolute;
    width: 50px;
    height: 100px;
    background-color: #212121;
}

#categories {
    position: absolute;
    width: 75vw;
    left: 2vw;
    font-family: 'Titillium Web', sans-serif;
    font-size: 23pt;
    color: white;
    display: flex;
    justify-content: space-between;
}

.animation1 {
    position: relative;
    transition-duration: 0.25s;
    top: 18px;
    height: 80px;
    padding-left: 1.414vw;
    padding-right: 1.414vw;
}

.animationtxt1 {
    white-space: nowrap;
    transition-property: opacity;
    transition-duration: 0.2s;
}

#account {
    top: 24px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16pt;
    position: relative;
    width: 10vw;
    left: 83vw;
    display: flex;
    justify-content: space-between;
    transition-property: opacity;
    transition-duration: 0.2s;
    opacity: 1;
}

#menuIcon {
    position: absolute;
    top: 15px;
    right: 93px;
    width: 60px;
    height: 60px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
    display: none;
}

#menuCont {
    position: absolute;
    width: 260px;
    height: 490px;
    right: -300px;
    top: 0;
    transition-property: right;
    transition-duration: 0.2s;
}

#menu {
    position: absolute;
    width: 260px;
    height: 400px;
    top: 90px;
    left: 0;
    background-color: black;
    border-radius: 60px 0 60px 0;
    border-left: 2px solid #FF0000;
    border-bottom: 2px solid #FF0000;
}

#menuCatsContCont {
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    height: 270px;
}

.menuCatsCont {
    position: relative;
}

.menuCats {
    position: relative;
    color: white;
    display: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20pt;
    left: 0px;
    transition-property: left;
    transition-duration: 0.2s;
}

#menuAccount {
    bottom: 24px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16pt;
    position: absolute;
    width: 170px;
    left: 50px;
    display: flex;
    justify-content: space-between;
}

.tyre {
    transition-property: opacity;
    transition-duration: 0.2s;
    width: 60px;
    position: absolute;
}

#hardtyre {
    opacity: 1;
}

#softtyre {
    opacity: 0;
}

#mainCont {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    position: absolute;
    top: 325px;
    width: 80vw;
    left: 10vw;
}

#emailico {
    position: absolute;
    top: 108px;
    left: 10px;
}

#phoneico {
    position: absolute;
    top: 235px;
    left: 16px;
}

h1 {
    font-size: 40pt;
    color: #FF0000;
}

h2 {
    position: relative;
    left: 70px;
    top: 10px;
    font-size: 30pt;
}

.contacts {
    position: relative;
    font-size: 20pt;
    left: 80px;
    top: 10px;
}

.contacts::selection {
    background-color: rgba(255, 0, 0, 0.7);
}

#contacts2 {
    top: 35px;
}

#contacts3 {
    top: 35px;
}

#contacts4 {
    position: relative;
    top: 48px;
}

#information {
    position: relative;
    height: 470px;
    width: 100%;
}

#form {
    background-color: #212121;
    border-radius: 30px;
    bottom: 0px;
    position: relative;
    left: 10px;
    height: 450px;
    width: 70%;
    border: 3px solid #FF0000;
}

#nameEmail {
    top: 35px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    left: 10%;
}

#nameCont {
    height: 35px;
    top: 40px;
    width: 170px;
}

#name {
    transition-property: opacity;
    transition-duration: 0.2s;
    height: 35px;
    border-radius: 10px;
    border: none;
    width: 170px;
    text-align: center;
}

#name::placeholder {
    left: 0;
}

.errorText {
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #FF0000;
    position: relative;
    top: 5px;
    left: 10px;
    display: none;
}

#emailCont {
    height: 35px;
    width: 250px;
}

#email {
    transition-property: opacity;
    transition-duration: 0.2s;
    height: 35px;
    border-radius: 10px;
    border: none;
    width: 250px;
    text-align: center;
}

#email::placeholder {
    left: 0;
}

#topicsCont {
    position: absolute;
    top: 110px;
    left: calc(50% - 85px);
    height: 35px;
    width: 170px;
}

#topics {
    padding: 0 5px 0 5px;
    transition-property: opacity;
    transition-duration: 0.3s;
    font-family: Arial;
    font-size: 20px;
    position: absolute;
    border-radius: 10px;
    height: 35px;
    width: 170px;
}

#topics:hover {
    cursor: pointer;
}

#errorText3 {
    top: 15px;
}

#messageCont {
    top: 180px;
    width: 80%;
    height: 130px;
    position: absolute;
    left: calc(50% - 33%);
}

#message {
    transition-property: opacity;
    transition-duration: 0.4s;
    overflow-x: hidden;
    width: 80%;
    resize: none;
    height: 130px;
    border-radius: 10px;
    border: none;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
    z-index: 2;
}

#message::placeholder {
    top: 3px;
    left: 0;
}

#message::-webkit-scrollbar-track {
    background: none;
}

#message::-webkit-scrollbar {
    width: 10px;
}

#errorText4 {
    top: 0;
}

#submit {
    transition-property: opacity;
    transition-duration: 0.5s;
    background-color: #FF0000;
    border: none;
    color: white;
    border-radius: 10px;
    width: 130px;
    height: 50px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
    position: absolute;
    bottom: 40px;
    font-size: 20pt;
    left: calc(50% - 65px);
    transition-property: scale;
    transition-duration: 0.2s;
}

#checkmark {
    position: absolute;
    top: 30px;
    left: calc(50% - 315px);
    display: none;
}

#submittedText {
    position: absolute;
    top: 270px;
    left: calc(50% - 250px);
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition-property: opacity;
    transition-duration: 1s;
    opacity: 0;
    font-size: 20pt;
}

#footer {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 467px;
    position: absolute;
    bottom: 0px;
    border-radius: 35px 35px 0px 0px;
    box-shadow: 0 -7px 15px rgb(10, 10, 10);
}

#info {
    position: relative;
    font-family: 'Titillium Web', sans-serif;
    font-size: 34pt;
    justify-content: space-evenly;
    display: flex;
    width: 650px;
    top: 50px;
    left: 5vw;
    height: 200px;
}

#info1 {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}

#info2 {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 130px;
}

.infobox {
    position: relative;
}

.infoa {
    transition-property: left;
    transition-duration: 0.2s;
    position: relative;
    left: 0px;
}

#download {
    position: absolute;
    top: 60px;
    right: calc(6.7vw + 50px);
    height: 180px;
    width: 285px;
}

#ios {
    transition-duration: 0.2s;
    position: relative;
    border: 3px solid white;
    border-radius: 10px;
    width: 285px;
    height: 70px;
}

#ios:hover {
    border-color: #FF0000;
    border-radius: 0px;
}

#android {
    transition-duration: 0.2s;
    position: relative;
    border: 3px solid white;
    border-radius: 10px;
    width: 285px;
    height: 70px;
    top: 40px;
}

#android:hover {
    border-color: #FF0000;
    border-radius: 0px;
}

#iosdownload {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 18pt;
    position: relative;
    left: 115px;
    top: 15px;
    width: 200px;
}

#androiddownload {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 16pt;
    position: relative;
    left: 108px;
    top: 17px;
    width: 200px;
}

#download1 {
    position: relative;
    left: 15px;
    bottom: 32px;
}

#download2 {
    position: relative;
    left: 10px;
    bottom: 27px;
}

#socialmedia {
    position: absolute;
    bottom: 5px;
    right: 6.7vw;
    width: 370px;
    height: 100px;
    justify-content: space-evenly;
    display: flex;
}

.media {
    transition-duration: 0.2s;
    z-index: 2;
}

#youtube {
    position: relative;
    bottom: 6px;
}

#line {
    position: absolute;
    background: #FF0000;
    width: 88vw;
    height: 4px;
    left: 6vw;
    bottom: 150px;
    border-radius: 10px;
}

#bottombrand {
    cursor: pointer;
    position: absolute;
    width: 340px;
    height: 50px;
    left: 8vw;
    bottom: 70px;
}

#bottomlogo {
    position: relative;
    width: 108px;
    height: 100px;
}

#bottommotto {
    position: relative;
    font-size: 24px;
    top: -76px;
    left: 128px;
    font-family: 'Monoton', cursive; 
    color: #FF0000;
}

@media only screen and (max-width: 1500px) {

    @media only screen and (max-width: 1440px) {

        #cat7 {
            opacity: 0;
            display: none;
        }

        #account {
            opacity: 0;
            display: none;
        }

        #menuIcon {
            opacity: 1;
            display: block;
        }

        @media only screen and (max-width: 1250px) {

            #cat6 {
                opacity: 0;
                display: none;
            }

            @media only screen and (max-width: 1150px) {

                #info {
                    scale: 60%;
                    flex-direction: column;
                    width: 280px;
                    height: 330px;
                    justify-content: center;
                    top: -10px;
                    left: 7vw;
                }

                #info1 {
                    justify-content: center;
                    width: 250px;
                }

                #info2 {
                    justify-content: center;
                }

                #download {
                    scale: 70%;
                    top: 30px;
                    right: 8vw;
                }

                #socialmedia {
                    scale: 70%;
                    top: 210px;
                    right: calc(8vw - 45px);
                }

            }

            @media only screen and (max-width: 1000px) {

                .animationtxt1 {
                    opacity: 0;
                    display: none;
                }

                #search {
                    display: none;
                }

                #search2 {
                    display: flex;
                }

                #form {
                    height: 550px;
                }

                #messageCont {
                    top: 260px;
                }

                #message {
                    height: 150px;
                }

                #topicsCont {
                    top: 180px;
                }

                #nameEmail {
                    flex-wrap: wrap;
                    justify-content: center;
                    width: 50%;
                    left: 25%;
                    height: 27%;
                }

                #submittedText {
                    scale: 60%;
                }

                @media only screen and (max-width: 660px) {

                    #topbrand {
                        scale: 70%;
                        left: -50px;
                    }

                    #mainCont {
                        scale: 75%;
                        top: 180px;
                        left: 5px;
                    }

                    #form {
                        width: 450px;
                    }

                    #contacts4 {
                        width: 425px;
                    }

                    #info {
                        left: -10px;
                    }
                
                    #download {
                        right: 4vw;
                        scale: 65%
                    }

                    #socialmedia {
                        scale: 60%;
                        right: calc(4vw - 45px);
                        top: 200px;
                    }

                    #bottombrand {
                        scale: 80%;
                        left: 20px;
                    }

                }

            }

        }

    }

}

@media only screen and (min-width: 1650px) {

    #articles {
        width: 75vw;
        left: 12.5vw;
    }

    @media only screen and (min-width: 2400px) {

        #articles {
            width: 60vw;
            left: 20vw;
            background-color: #212121;
            border-radius: 40px;
        }
        
        @media only screen and (min-width: 2850px) {

            #articles {
                width: 50vw;
                left: 25vw;
            }

            @media only screen and (min-width: 3500px) {

                #articles {
                    width: 40vw;
                    left: 30vw;
                }

                @media only screen and (min-width: 5700px) {

                    #articles {
                        width: 25vw;
                        left: 37.5vw;
                        top: 750px;
                    }

                    #footer {
                        top: 2555px;
                    }

                    @media only screen and (min-width: 7500px) {

                        #articles {
                            width: 100vw;
                            left: 0vw;
                            top: 500px;
                            background-color: #2D2D2D;
                            border-radius: 0px;
                        }

                        .article {
                            top: 1000px;
                        }

                        #footer {
                            top: 3562px;
                        }
            
                    }

                }

            }

        }

    }

}
