* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: purple;
    border-radius: 15px;
}

body {
    position: absolute;
    background: #222;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
}

h1 {
    font-size: 45pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
    text-shadow: rgba(0, 0, 0, 0.8) 2px 5px;
}

h2 {
    font-size: 25pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h3 {
    font-size: 25pt;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#textcontainer {
    position: absolute;
    text-align: center;
    top: 5vh;
    width: 900px;
    height: 200px;
}

#inputcontainer {
    position: relative;
    top: 6vh;
    left: -5vw;
    width: 30vw;
    height: 50vh;
    background: rgb(82, 82, 82);
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 4px;
    border-radius: 10% 0% 10% 0%;
}

#title1 {
    position: relative;
    top: 5%;
    text-align: center;
    font-size: 30pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: black;
}

#inputs {
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 33%;
}

.num1 {
    font-size: 30pt;
    width: 100%;
    height: 50%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: 600;
    background: none;
    border: none;
}

#outputcontainer {
    position: relative;
    top: 6vh;
    right: -5vw;
    width: 30vw;
    height: 50vh;
    background: rgb(22, 22, 22);
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 4px;
    border-radius: 10% 0% 10% 0%;
}

#title2 {
    position: relative;
    top: 5%;
    text-align: center;
    font-size: 30pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: white;
}

#outputs {
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.output {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 33%;
}

.num2 {
    font-size: 30pt;
    width: 50%;
    height: 50%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: 600;
}

#creditscontainer {
    position: absolute;
    text-align: center;
    bottom: 4vh;
    width: 750px;
    height: 100px;
}

@media only screen and (max-width: 1200px) {

    #title1, #title2, .num1, .num2 {
        font-size: 20pt;
    }

}

@media only screen and (max-width: 900px) {

    ::-webkit-scrollbar {
        width: 15px;
    }

    h1 {
        font-size: 30pt;
    }

    h2 {
        font-size: 18pt;
    }

    h3 {
        font-size: 18pt;
    }

    #inputcontainer {
        width: 60vw;
        height: 25vh;
        top: 13vh;
        left: 0;
    }

    #outputcontainer {
        width: 60vw;
        height: 25vh;
        top: -7vh;
        right: 0;
    }

    #creditscontainer {
        bottom: 2vh;
    }

    @media only screen and (max-height: 800px) {

        body {
            height: 800px;
        }

        #textcontainer {
            top: 40px;
        }
    
        #inputcontainer {
            height: 200px;
            top: 104px;
        }
    
        #outputcontainer {
            height: 200px;
            top: -56px;
        }

        #creditscontainer {
            bottom: 16px;
        }
        
    }

}

@media only screen and (max-width: 620px) {
    
    h1 {
        font-size: 24pt;
    }

    h2 {
        font-size: 14.4pt;
    }

    h3 {
        font-size: 14.4pt;
    }

}

@media only screen and (max-height: 875px) and (min-width: 901px) {

    body {
        height: 875px;
    }

    #textcontainer {
       top: 43.75px;
    }

    #creditscontainer {
        bottom: 35px;
    }

}

@media only screen and (max-height: 400px) and (min-width: 901px) {

    #inputcontainer {
        height: 200px;
    }

    #outputcontainer {
        height: 200px;
    }

}