* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: rgba(135, 135, 135, 0.5);
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #FF0000;
}

::placeholder {
    font-size: 13pt;
    position: relative;
    left: 10px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

body {
    background: #2D2D2D;
}

#topbox {
    width: 100%;
    height: 137px;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #212121;
    z-index: 15;
}

#topbrand {
    position: relative;
    width: 600px;
    height: 100px;
    top: 8px;
    left: 33px;
}

#toplogo {
    position: relative;
}

#topmotto {
    position: relative;
    width: 450px;
    font-size: 23pt;
    top: -95px;
    left: 160px;
}

#search {
    position: relative;
    display: flex;
    justify-content: end;
    top: -53px;
    right: 8vw;
}

#mg {
    position: relative;
    width: 30px;
    height: 30px;
    filter: invert(16%) sepia(99%) saturate(7404%) hue-rotate(4deg) brightness(95%) contrast(118%);
    left: -10px;
    top: 3.5px;
}


#searchbar {
    position: relative;
    width: 180px;
    height: 35px;
    border-radius: 10px;
    border-width: 0px;
}

input {
    font-size: 15pt;
}

#navbar {
    position: absolute;
    top: 137px;
    height: 11.1vh;
    width: 100%;
    background: #FF0000;
    z-index: 10;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 7px 15px rgb(10, 10, 10);
}

#categories {
    position: relative;
    width: 75vw;
    left: 2vw;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2vw;
    color: white;
    display: flex;
    justify-content: space-between;
}

.animation1 {
    height: 11.1vh;
    padding-left: 1.414vw;
    padding-right: 1.414vw;
}

.animationtxt1 {
    white-space: nowrap;
    transition-duration: 0.2s;
}

#account {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    position: relative;
    width: 140px;
    top: -60px;
    left: 83vw;
    display: flex;
    justify-content: space-between;
}

#articles {
    position: relative;
    top: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.article {
    margin: 65px;
}

#article1 {
    position: relative;
    width: 535px;
}

#article2 {
    position: relative;
    width: 366px;
    height: 418px;
}

#article3 {
    position: relative;
    width: 366px;
}

#article4 {
    position: relative;
    width: 366px;
    height: 485px;
}

#articleimg1 {
    transition-duration: 0.2s;
    border-radius: 20px;
    position: relative;
    border: 3.5px solid red;
    width: 528px;
    height: 296px;
}

#articleimg2 {
    transition-duration: 0.2s;
    border-radius: 20px;
    position: relative;
    border: 3px solid red;
    width: 360px;
    height: 240px;
}

#articleimg3 {
    transition-duration: 0.2s;
    border-radius: 20px;
    position: relative;
    border: 3px solid red;
    width: 360px;
    height: 338px;
}

#articleimg4 {
    transition-duration: 0.2s;
    border-radius: 20px;
    position: relative;
    border: 3px solid red;
    width: 360px;
    height: 240px;
}

h1 {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 28pt;
    position: relative;
    top: -6px;
    left: 3px;
}

h2 {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 24pt;
    line-height: 28pt;
    position: relative;
    left: 5px;
}

p {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16pt;
    position: relative;
    left: 5px;
}

#mainarticle {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18pt;
    position: relative;
    top: -11.5px;
    left: 3px;
}

.articletxt {
    position: relative;
    top: 5px;
}

#articletxt1 {
    position: relative;
    width: 500px;
    height: 120px;
}

#articletxt2 {
    position: relative;
    width: 360px;
}

#articletxt3 {
    position: relative;
    width: 400px;
}

#articletxt4 {
    position: relative;
    width: 500px;
}

#footer {
    background: rgb(0, 0, 0);
    height: 58vh;
    position: relative;
    top: 350px;
    border-radius: 35px 35px 0px 0px;
    box-shadow: 0 -7px 15px rgb(10, 10, 10);
}

#info {
    position: relative;
    font-family: 'Titillium Web', sans-serif;
    font-size: 34pt;
    justify-content: space-evenly;
    display: flex;
    width: 650px;
    top: 40px;
    left: 80px;
    height: 200px;
}

#info1 {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}

#info2 {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 130px;
}

.infobox {
    position: relative;
}

.infoa {
    transition-property: left;
    transition-duration: 0.2s;
    position: relative;
    left: 0px;
}

#download {
    position: relative;
    bottom: 0px;
    left: -40px;
    height: 100px;
    width: 100px;
}

#ios {
    transition-duration: 0.2s;
    position: relative;
    border: 3px solid white;
    border-radius: 10px;
    width: 285px;
    height: 70px;
    left: 800px;
    bottom: 210px;
}

#ios:hover {
    border-color: #FF0000;
    border-radius: 0px;
}

#android {
    transition-duration: 0.2s;
    position: relative;
    border: 3px solid white;
    border-radius: 10px;
    width: 285px;
    height: 70px;
    left: 800px;
    bottom: 170px;
}

#android:hover {
    border-color: #FF0000;
    border-radius: 0px;
}

#iosdownload {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 18pt;
    position: relative;
    left: 115px;
    top: 15px;
    width: 200px;
}

#androiddownload {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 16pt;
    position: relative;
    left: 108px;
    top: 17px;
    width: 200px;
}

#download1 {
    position: relative;
    left: 15px;
    bottom: 32px;
}

#download2 {
    position: relative;
    left: 10px;
    bottom: 27px;
}

#socialmedia {
    position: relative;
    bottom: 160px;
    left: 1080px;
    width: 370px;
    height: 100px;
    justify-content: space-evenly;
    display: flex;
}

.media {
    transition-duration: 0.2s;
    z-index: 2;
}

#youtube {
    position: relative;
    bottom: 6px;
}

#line {
    position: relative;
    background: #FF0000;
    width: 88vw;
    height: 4px;
    left: 6vw;
    top: 80px;
    border-radius: 10px;
}

#brand {
    width: 400px;
    height: 50px;
    position: relative;
    left: 110px;
    top: 100px;
}

#bottomlogo {
    position: relative;
}

#bottommotto {
    position: relative;
    font-size: 24px;
    top: -76px;
    left: 128px;
}