* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: rgba(135, 135, 135, 0.5);
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #FF0000;
}

::placeholder {
    font-size: 13pt;
    position: relative;
    left: 10px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

body {
    background: #2D2D2D;
    height: 2070px;
    overflow-x: hidden;
}

#topbox {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #212121;
}

#topbrand {
    position: absolute;
    width: 580px;
    height: 80px;
    top: 35px;
    left: 33px;
    font-family: 'Monoton', cursive; 
    color: #FF0000;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
}

#toplogo {
    position: relative;
    width: 135px; 
    height: 125px;
}

#topmotto {
    position: relative;
    font-size: 23pt;
    left: 20px;
}

#search {
    position: absolute;
    display: flex;
    justify-content: end;
    top: 55px;
    right: 5.5vw;
}

#mg {
    position: relative;
    width: 30px;
    height: 30px;
    filter: invert(16%) sepia(99%) saturate(7404%) hue-rotate(4deg) brightness(95%) contrast(118%);
    left: -10px;
    top: 3.5px;
    transition-property: left,;
    transition-duration: 0.2s;
}

#searchbar {
    position: relative;
    width: 160px;
    left: 0;
    height: 35px;
    border-radius: 10px;
    border-width: 0px;
    transition-property: width, left;
    transition-duration: 0.2s;
}

#search2 {
    position: absolute;
    display: none;
    justify-content: end;
    top: 27px;
    left: 14vw;
    z-index: 1;
}

#mg2 {
    position: relative;
    width: 30px;
    height: 25px;
    left: -10px;
    top: 3.5px;
    transition-property: left,;
    transition-duration: 0.2s;
}

#searchbar2 {
    position: relative;
    width: 25vw;
    left: 0px;
    height: 35px;
    border-radius: 10px;
    border-width: 0px;
    transition-property: width, left;
    transition-duration: 0.2s;
}

input {
    font-size: 15pt;
}

#navbar {
    position: absolute;
    top: 150px;
    height: 90px;
    width: 100%;
    background: #FF0000;
    z-index: 10;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 8px 15px rgb(10, 10, 10);
    transition-property: border-bottom-right-radius;
    transition-duration: 0.2s;
}

#dropDownMenu {
    position: absolute;
    width: 50px;
    height: 100px;
    background-color: #212121;
}

#categories {
    position: absolute;
    width: 75vw;
    left: 2vw;
    font-family: 'Titillium Web', sans-serif;
    font-size: 23pt;
    color: white;
    display: flex;
    justify-content: space-between;
}

.animation1 {
    position: relative;
    transition-duration: 0.25s;
    top: 18px;
    height: 80px;
    padding-left: 1.414vw;
    padding-right: 1.414vw;
}

.animationtxt1 {
    white-space: nowrap;
    transition-property: opacity;
    transition-duration: 0.2s;
}

#account {
    top: 24px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16pt;
    position: relative;
    width: 10vw;
    left: 83vw;
    display: flex;
    justify-content: space-between;
    transition-property: opacity;
    transition-duration: 0.2s;
    opacity: 1;
}

#menuIcon {
    position: absolute;
    top: 15px;
    right: 93px;
    width: 60px;
    height: 60px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
    display: none;
}

#menuCont {
    position: absolute;
    width: 260px;
    height: 490px;
    right: -300px;
    top: 0;
    transition-property: right;
    transition-duration: 0.2s;
}

#menu {
    position: absolute;
    width: 260px;
    height: 400px;
    top: 90px;
    left: 0;
    background-color: black;
    border-radius: 60px 0 60px 0;
    border-left: 2px solid #FF0000;
    border-bottom: 2px solid #FF0000;
}

#menuCatsContCont {
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    height: 270px;
}

.menuCatsCont {
    position: relative;
}

.menuCats {
    position: relative;
    color: white;
    display: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20pt;
    left: 0px;
    transition-property: left;
    transition-duration: 0.2s;
}

#menuAccount {
    bottom: 24px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16pt;
    position: absolute;
    width: 170px;
    left: 50px;
    display: flex;
    justify-content: space-between;
}

.tyre {
    transition-property: opacity;
    transition-duration: 0.2s;
    width: 60px;
    position: absolute;
}

#hardtyre {
    opacity: 1;
}

#softtyre {
    opacity: 0;
}

#articles {
    position: absolute;
    top: 325px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.article {
    margin: 65px;
}

#article1 {
    position: relative;
    width: 535px;
}

#article2 {
    position: relative;
    width: 366px;
    height: 418px;
}

#article3 {
    position: relative;
    width: 366px;
}

#article4 {
    position: relative;
    width: 366px;
    height: 485px;
}

#articleimg1 {
    transition-duration: 0.2s;
    border-radius: 20px;
    position: relative;
    border: 3.5px solid red;
    width: 528px;
    height: 296px;
}

#articleimg2 {
    transition-duration: 0.2s;
    border-radius: 20px;
    position: relative;
    border: 3px solid red;
    width: 360px;
    height: 240px;
}

#articleimg3 {
    transition-duration: 0.2s;
    border-radius: 20px;
    position: relative;
    border: 3px solid red;
    width: 360px;
    height: 338px;
}

#articleimg4 {
    transition-duration: 0.2s;
    border-radius: 20px;
    position: relative;
    border: 3px solid red;
    width: 360px;
    height: 240px;
}

h1 {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 28pt;
    position: relative;
    top: -6px;
    left: 3px;
}

h2 {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 24pt;
    line-height: 28pt;
    position: relative;
    left: 5px;
}

p {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16pt;
    position: relative;
    left: 5px;
}

#mainarticle {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18pt;
    position: relative;
    top: -11.5px;
    left: 3px;
}

.articletxt {
    position: relative;
    top: 5px;
    transition-property: top;
    transition-duration: 0.2s;
}

#articletxt1 {
    position: relative;
    width: 500px;
    height: 120px;
}

#articletxt2 {
    position: relative;
    width: 360px;
}

#articletxt3 {
    position: relative;
    width: 400px;
}

#articletxt4 {
    position: relative;
    width: 500px;
}

#footer {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 467px;
    position: relative;
    top: 1607px;
    border-radius: 35px 35px 0px 0px;
    box-shadow: 0 -7px 15px rgb(10, 10, 10);
}

#info {
    position: relative;
    font-family: 'Titillium Web', sans-serif;
    font-size: 34pt;
    justify-content: space-evenly;
    display: flex;
    width: 650px;
    top: 50px;
    left: 5vw;
    height: 200px;
}

#info1 {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}

#info2 {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 130px;
}

.infobox {
    position: relative;
}

.infoa {
    transition-property: left;
    transition-duration: 0.2s;
    position: relative;
    left: 0px;
}

#download {
    position: absolute;
    top: 60px;
    right: calc(6.7vw + 50px);
    height: 180px;
    width: 285px;
}

#ios {
    transition-duration: 0.2s;
    position: relative;
    border: 3px solid white;
    border-radius: 10px;
    width: 285px;
    height: 70px;
}

#ios:hover {
    border-color: #FF0000;
    border-radius: 0px;
}

#android {
    transition-duration: 0.2s;
    position: relative;
    border: 3px solid white;
    border-radius: 10px;
    width: 285px;
    height: 70px;
    top: 40px;
}

#android:hover {
    border-color: #FF0000;
    border-radius: 0px;
}

#iosdownload {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 18pt;
    position: relative;
    left: 115px;
    top: 15px;
    width: 200px;
}

#androiddownload {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 16pt;
    position: relative;
    left: 108px;
    top: 17px;
    width: 200px;
}

#download1 {
    position: relative;
    left: 15px;
    bottom: 32px;
}

#download2 {
    position: relative;
    left: 10px;
    bottom: 27px;
}

#socialmedia {
    position: absolute;
    bottom: 5px;
    right: 6.7vw;
    width: 370px;
    height: 100px;
    justify-content: space-evenly;
    display: flex;
}

.media {
    transition-duration: 0.2s;
    z-index: 2;
}

#youtube {
    position: relative;
    bottom: 6px;
}

#line {
    position: absolute;
    background: #FF0000;
    width: 88vw;
    height: 4px;
    left: 6vw;
    bottom: 150px;
    border-radius: 10px;
}

#bottombrand {
    cursor: pointer;
    position: absolute;
    width: 340px;
    height: 50px;
    left: 8vw;
    bottom: 70px;
}

#bottomlogo {
    position: relative;
    width: 108px;
    height: 100px;
}

#bottommotto {
    position: relative;
    font-size: 24px;
    top: -76px;
    left: 128px;
    font-family: 'Monoton', cursive; 
    color: #FF0000;
}

@media only screen and (max-width: 1500px) {

    @media only screen and (max-width: 1440px) {

        #cat7 {
            opacity: 0;
            display: none;
        }

        #account {
            opacity: 0;
            display: none;
        }

        #menuIcon {
            opacity: 1;
            display: block;
        }

        @media only screen and (max-width: 1250px) {

            #cat6 {
                opacity: 0;
                display: none;
            }

            #articles {
                width: 75vw;
                left: 12.5vw;
            }

            @media only screen and (max-width: 1000px) {

                .animationtxt1 {
                    opacity: 0;
                    display: none;
                }

                #search {
                    display: none;
                }

                #search2 {
                    display: flex;
                }
            }
        }
    }
}

@media only screen and (min-width: 1650px) {

    #articles {
        width: 75vw;
        left: 12.5vw;
    }

    @media only screen and (min-width: 2400px) {

        #articles {
            width: 60vw;
            left: 20vw;
            background-color: #212121;
            border-radius: 40px;
        }
        
        @media only screen and (min-width: 2850px) {

            #articles {
                width: 50vw;
                left: 25vw;
            }

            @media only screen and (min-width: 3500px) {

                #articles {
                    width: 40vw;
                    left: 30vw;
                }

                @media only screen and (min-width: 5700px) {

                    #articles {
                        width: 25vw;
                        left: 37.5vw;
                        top: 750px;
                    }

                    #footer {
                        top: 2555px;
                    }

                    @media only screen and (min-width: 7500px) {

                        #articles {
                            width: 100vw;
                            left: 0vw;
                            top: 500px;
                            background-color: #2D2D2D;
                            border-radius: 0px;
                        }

                        .article {
                            top: 1000px;
                        }

                        #footer {
                            top: 3562px;
                        }
            
                    }
                }
            }
        }
    }
}